version: "3"
services:
  dev:
    build:
      context: ./
    pull_policy: build
    environment:
      - SSH_USER=${SSH_USER}
      - SSH_PASSWORD=${SSH_PASSWORD}
    command: ["-E", "/dev/stdout"]
    container_name: dev
    ports:
      - ${SSH_PORT:-22}:22
    volumes:
      - dev:/data
      - git-key:/mnt/git-key
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
volumes:
  dev:
    external: true
  git-key:
    external: true
