version: "3"
services:
  dev:
    build:
      context: ./
    environment:
      - SSH_USER=${SSH_USER}
      - SSH_PASSWORD=${SSH_PASSWORD}
    container_name: dev
    ports:
      - ${SSH_PORT:-22}:22
    volumes:
      - dev:/data
    restart: unless-stopped
volumes:
  dev:
    external: true
